Descriptive Statistics on given Data set

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
data = pd.read_csv('/content/flightdata.csv')

In [ ]:
l=['YEAR','QUARTER','MONTH','DAY_OF_MONTH','DAY_OF_WEEK','UNIQUE_CARRIER','TAIL_NUM','FL_NUM','ORIGIN_AIRPORT_ID','ORIGIN','DEST_AIRPORT_ID','DEST','CRS_DEP_TIME','DEP_TIME','DEP_DELAY','DEP_DEL15','CRS_ARR_TIME','ARR_TIME','ARR_DELAY','ARR_DEL15','CANCELLED','DIVERTED','CRS_ELAPSED_TIME','ACTUAL_ELAPSED_TIME','DISTANCE']

In [ ]:
data.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [ ]:
data.describe()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
count,11231.0,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11124.000000,...,11231.000000,11116.000000,11043.000000,11043.000000,11231.000000,11231.000000,11231.000000,11043.000000,11231.000000,0.0
mean,2016.0,2.544475,6.628973,15.790758,3.960199,1334.325617,12334.516695,12302.274508,1320.798326,1327.189410,...,1537.312795,1523.978499,-2.573123,0.124513,0.010150,0.006589,190.652124,179.661233,1161.031965,NaN
std,0.0,1.090701,3.354678,8.782056,1.995257,811.875227,1595.026510,1601.988550,490.737845,500.306462,...,502.512494,512.536041,39.232521,0.330181,0.100241,0.080908,78.386317,77.940399,643.683379,NaN
min,2016.0,1.000000,1.000000,1.000000,1.000000,7.000000,10397.000000,10397.000000,10.000000,1.000000,...,2.000000,1.000000,-67.000000,0.000000,0.000000,0.000000,93.000000,75.000000,509.000000,NaN
25%,2016.0,2.000000,4.000000,8.000000,2.000000,624.000000,10397.000000,10397.000000,905.000000,905.000000,...,1130.000000,1135.000000,-19.000000,0.000000,0.000000,0.000000,127.000000,117.000000,594.000000,NaN
50%,2016.0,3.000000,7.000000,16.000000,4.000000,1267.000000,12478.000000,12478.000000,1320.000000,1324.000000,...,1559.000000,1547.000000,-10.000000,0.000000,0.000000,0.000000,159.000000,149.000000,907.000000,NaN
75%,2016.0,3.000000,9.000000,23.000000,6.000000,2032.000000,13487.000000,13487.000000,1735.000000,1739.000000,...,1952.000000,1945.000000,1.000000,0.000000,0.000000,0.000000,255.000000,236.000000,1927.000000,NaN
max,2016.0,4.000000,12.000000,31.000000,7.000000,2853.000000,14747.000000,14747.000000,2359.000000,2400.000000,...,2359.000000,2400.000000,615.000000,1.000000,1.000000,1.000000,397.000000,428.000000,2422.000000,NaN

In [ ]:
data.dtypes

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
UNIQUE_CARRIER          object
TAIL_NUM                object
FL_NUM                   int64
ORIGIN_AIRPORT_ID        int64
ORIGIN                  object
DEST_AIRPORT_ID          int64
DEST                    object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DEL15              float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DEL15              float64
CANCELLED              float64
DIVERTED               float64
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
DISTANCE               float64
Unnamed: 25            float64
dtype: object

In [ ]:
data.skew()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

YEAR                    0.000000
QUARTER                -0.072046
MONTH                  -0.068162
DAY_OF_MONTH           -0.000712
DAY_OF_WEEK             0.028410
FL_NUM                  0.179378
ORIGIN_AIRPORT_ID       0.176974
DEST_AIRPORT_ID         0.207055
CRS_DEP_TIME            0.060403
DEP_TIME                0.029767
DEP_DELAY               7.093088
DEP_DEL15               2.041667
CRS_ARR_TIME           -0.407793
ARR_TIME               -0.421207
ARR_DELAY               5.898520
ARR_DEL15               2.274841
CANCELLED               9.775138
DIVERTED               12.199043
CRS_ELAPSED_TIME        0.904010
ACTUAL_ELAPSED_TIME     0.890397
DISTANCE                0.786107
Unnamed: 25                  NaN
dtype: float64

Handling the missing values

In [ ]:
data.isnull().any()

YEAR                   False
QUARTER                False
MONTH                  False
DAY_OF_MONTH           False
DAY_OF_WEEK            False
UNIQUE_CARRIER         False
TAIL_NUM               False
FL_NUM                 False
ORIGIN_AIRPORT_ID      False
ORIGIN                 False
DEST_AIRPORT_ID        False
DEST                   False
CRS_DEP_TIME           False
DEP_TIME                True
DEP_DELAY               True
DEP_DEL15               True
CRS_ARR_TIME           False
ARR_TIME                True
ARR_DELAY               True
ARR_DEL15               True
CANCELLED              False
DIVERTED               False
CRS_ELAPSED_TIME       False
ACTUAL_ELAPSED_TIME     True
DISTANCE               False
Unnamed: 25             True
dtype: bool

Replacing the Outliners if any

In [ ]:
data['YEAR'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: YEAR, dtype: float64

In [ ]:
data['QUARTER'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: QUARTER, dtype: float64

In [ ]:
data['MONTH'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: MONTH, dtype: float64

In [ ]:
data['DAY_OF_MONTH'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DAY_OF_MONTH, dtype: float64

In [ ]:
data['DAY_OF_WEEK'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DAY_OF_WEEK, dtype: float64

In [ ]:
data['UNIQUE_CARRIER'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: UNIQUE_CARRIER, dtype: float64

In [ ]:
data['TAIL_NUM'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: TAIL_NUM, dtype: float64

In [ ]:
data['FL_NUM'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: FL_NUM, dtype: float64

In [ ]:
data['ORIGIN_AIRPORT_ID'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ORIGIN_AIRPORT_ID, dtype: float64

In [ ]:
data['ORIGIN'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ORIGIN, dtype: float64

In [ ]:
data['DEST_AIRPORT_ID'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DEST_AIRPORT_ID, dtype: float64

In [ ]:
data['DEST'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DEST, dtype: float64

In [ ]:
data['CRS_DEP_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CRS_DEP_TIME, dtype: float64

In [ ]:
data['DEP_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DEP_TIME, dtype: float64

In [ ]:
data['DEP_DELAY'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DEP_DELAY, dtype: float64

In [ ]:
data['DEP_DEL15'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DEP_DEL15, dtype: float64

In [ ]:
data['CRS_ARR_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CRS_ARR_TIME, dtype: float64

In [ ]:
data['ARR_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ARR_TIME, dtype: float64

In [ ]:
data['ARR_DELAY'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ARR_DELAY, dtype: float64

In [ ]:
data['ARR_DEL15'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ARR_DEL15, dtype: float64

In [ ]:
data['CANCELLED'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CANCELLED, dtype: float64

In [ ]:
data['DIVERTED'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DIVERTED, dtype: float64

In [ ]:
data['CRS_ELAPSED_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: CRS_ELAPSED_TIME, dtype: float64

In [ ]:
data['ACTUAL_ELAPSED_TIME'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: ACTUAL_ELAPSED_TIME, dtype: float64

In [ ]:
data['DISTANCE'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DISTANCE, dtype: float64

 Categorical columns and perform encoding

In [8]:
from sklearn import preprocessing
import numpy as np
period = ['YEAR', 'DAY_OF_MONTH','DAY_OF_WEEK']
arrival = ['ARR_TIME', 'ARR_DELAY']
dept = ['DEP_TIME', 'DEP_DELAY', 'CANCELLED', 'DIVERTED']
enc = preprocessing.OneHotEncoder(categories=[period, arrival, dept])
# Note that for there are missing categorical values for the 2nd and 3rd
# feature
X = [['YEAR', 'ARR_DELAY', 'CANCELLED'], ['YEAR', 'ARR_DELAY', 'DIVERTED']]
enc.fit(X)
import pandas as pd
df = pd.DataFrame({'YEAR': ['2016', '2016', '2016', '2016', '2016', '2016'],
                   'ACTUAL_ELAPSED_TIME': [1161.1,509,594,907,1927,2422]})

In [14]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['YEAR']]).toarray())
final_df = df.join(encoder_df)
print(final_df)
final_df.drop('YEAR', axis=1, inplace=True)
print(final_df)

   YEAR  ACTUAL_ELAPSED_TIME    0
0  2016               1161.1  1.0
1  2016                509.0  1.0
2  2016                594.0  1.0
3  2016                907.0  1.0
4  2016               1927.0  1.0
5  2016               2422.0  1.0
   ACTUAL_ELAPSED_TIME    0
0               1161.1  1.0
1                509.0  1.0
2                594.0  1.0
3                907.0  1.0
4               1927.0  1.0
5               2422.0  1.0

Dependent and Independent Varaiables

In [15]:
X = df.iloc[:, :-1].values
print(X)

[['2016']
 ['2016']
 ['2016']
 ['2016']
 ['2016']
 ['2016']]

In [16]:
Y = df.iloc[:, -1].values
print(Y)

[1161.1  509.   594.   907.  1927.  2422. ]

Scaling Independent Variable

In [21]:
X = df.iloc[:, :-1].values
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=0)
X_train.shape
(2683, 13)
Y_train.shape
(2683,)
X_test.shape
(671, 13)
Y_test.shape
(671,)

(671,)